@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background: linear-gradient(
    to right,
    $color-bg,
    $color-primary,
    $color-accent
  );
  color: $color-text;
  height: 100vh;
  overflow: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333 transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
